{% extends "base_forum.html" %}

{% block content%}
{% load staticfiles %}

<div id="content-text">
      <ul class="bread_crumb">
        <li><a href="http://energoforum/catalog.html">Магазин</a></li>
        <li><a href="http://energoforum/catalog/15.html">Стабилизаторы напряжения</a></li>
        <li><a href="http://energoforum/catalog/4.html">Однофазные переносные</a></li>
        <li><a href="http://energoforum/catalog/27.html">тестовая 1</a></li>
      </ul>
		<h5>Стабилизатор напряжения Volter</h5>
      <div class="shop_block inner_block">
        <div class="prod_ill">
	                  <a class="ill" title="Стабилизатор напряжения Volter">
                    	<img src="./ТОВАР_files/noimage.jpg" alt="Стабилизатор напряжения Volter">

          </a>

          <ul class="thumb">
	                  </ul>
                  </div>
		<dl class="prod-param">
	       <a class="brandimg"><img src="./ТОВАР_files/4d2e7bd33c475784381a64e43e50922f.gif" alt="AZ"></a>                     <dt>Артикул: </dt>
          <dd>123123</dd>

                    <dt>Штрихкод: </dt>
          <dd>123</dd>

                    <dt>Модель: </dt>
          <dd>123</dd>

                    <dt>Габариты (мм): </dt>
          <dd>350 х 160 х 420</dd>

                    <dt>Входной диапазон:</dt>
          <dd>от 0.00 до 0.00</dd>
		</dl>
        <div class="prod-review">
          <h2>Описание:</h2>
          123
        </div>
        <a class="forum_link" href="http://energoforum/forum">форум</a>
        <ul class="prod-opt">
                   <li class="price"><var>Цена:<strong>13123 грн</strong>.</var></li>
                   <li class="buy">
         	<a onclick="javascript: addtocart(154);return false;" href="http://energoforum/product/154.html">купить<span></span></a>
         </li>
        </ul>
      </div>


</div>


{% endblock %}