{% extends "base.html" %}

{% block content%}

<div id="content-text">
<h1>Новости</h1>

 		<table>
			<tbody><tr>
				<th colspan="2">
				<h5>123</h5>
				 <h6 class="v3">22:43, <strong>27.08.2010</strong></h6>
				</th>
			</tr>
			<tr>
			<td colspan="2">

      		<p>123</p>
      		<a href="http://energoforum/onenews/6.html">подробнее...</a>
				</td>
			</tr>
		</tbody></table>

 		<table>
			<tbody><tr>
				<th colspan="2">
				<h5>sdf</h5>
				 <h6 class="v3">22:43, <strong>27.08.2010</strong></h6>
				</th>
			</tr>
			<tr>
			<td colspan="2">

      		<p>sdf</p>
      		<a href="http://energoforum/onenews/7.html">подробнее...</a>
				</td>
			</tr>
		</tbody></table>

 		<table>
			<tbody><tr>
				<th colspan="2">
				<h5>Акция!</h5>
				 <h6 class="v3">20:48, <strong>25.04.2010</strong></h6>
				</th>
			</tr>
			<tr>
			<td colspan="2">

      		<p>Вы получаете за самую низкую цену прибор для измерения напряжения в сети!</p>
      		<a href="http://energoforum/onenews/1.html">подробнее...</a>
				</td>
			</tr>
		</tbody></table>

</div>
{% endblock %}