{% extends "base.html" %}

{% block content%}

<div id="content-text">
   {%for news in news_list%}
 		<table>
			<tbody><tr>
				<th colspan="2">
				<h5>{{news.title}}</h5>
				  <h6> Дата выхода новости {{news.dateTime}} </h6>
				</th>
			</tr>
			<tr>
			<td colspan="2">

      		<p>{{news.textNews|safe|truncatechars:230|default:''}}</p>
      		<a href=/news/{{news.id}}/>подробнее...</a>
				</td>
			</tr>
		</tbody></table>
    {%endfor%}

<div class="pagination">
    <span class="step-links">
        {% if news_list.has_previous %}
            <a href="?page={{ news_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ news_list.number }} of {{ news_list.paginator.num_pages }}.
        </span>

        {% if news_list.has_next %}
            <a href="?page={{ news_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock %}