{% extends "base.html" %}

{% block content%}

<div id="content-text">
<h1>Акция!</h1>
			<a href="http://energoforum/news.html">Архив новостей</a><br>
            <h6 class="v3">20:48, <strong>25.04.2010</strong></h6>


            <p>Вы получаете за самую низкую цену прибор для измерения напряжения в сети!</p>
			<p><a>1.АКЦИЯ Протестируйте свое напряжение</a><br>Вы получаете за самую <strong>низкую цену</strong> прибор для измерения напряжения в сети! <br>И если показатели измерений Вас удовлетворят - <strong>мы вернем Вам ваши деньги</strong>, если Вы захотите приобрести у нас <em><strong>стабилизатор </strong></em>- мы вернем Вам в 2 раза больше! <br><span style="\&quot;\\\&quot;">Стоимость прибора - 130грн</span>.</p>


</div>
{% endblock %}