{% load staticfiles %}
<h2>Новости</h2>
        <ul class="news">
            {% if error_new %}
             <h3>{{error_new}}</h3>

            {% else %}
            {% for news in news_list%}
            <li>
                <a class="ill-news" href="/news/{{news.id}}/">
                          <img alt="новость" src= "{{news.imgNews.url}}">
                        </a>
            <var class="date">{{news.dateTime}}</var>
            <p>{{news.title|truncatechars:30}} </p>
            <a href="/news/{{news.id}}/" class="more">подробней</a>
          </li>

           {%endfor%}
          <a href="/news/">Архив новостей</a><br>
            {%endif%}

        </ul>

