    
        <div class="app-energotechnology module">
        <table>

        <caption>
            <a href="/admin/energotechnology/" class="section" title="Модели в приложении Энерготехнологии ">Энерготехнологии </a>
        </caption>
        
            <tr class="model-energotechnologywater">
            
                <th scope="row"><a href="/admin/energotechnology/energotechnologywater/">Вода</a></th>
            

            
                <td><a href="/admin/energotechnology/energotechnologywater/add/" class="addlink">Добавить</a></td>
            

            
                <td><a href="/admin/energotechnology/energotechnologywater/" class="changelink">Изменить</a></td>
            
            </tr>
        
            <tr class="model-energotechnologyeast">
            
                <th scope="row"><a href="/admin/energotechnology/energotechnologyeast/">Земля</a></th>
            

            
                <td><a href="/admin/energotechnology/energotechnologyeast/add/" class="addlink">Добавить</a></td>
            

            
                <td><a href="/admin/energotechnology/energotechnologyeast/" class="changelink">Изменить</a></td>
            
            </tr>
        
            <tr class="model-energotechnologyall">
            
                <th scope="row"><a href="/admin/energotechnology/energotechnologyall/">Общая информация</a></th>
            

            
                <td><a href="/admin/energotechnology/energotechnologyall/add/" class="addlink">Добавить</a></td>
            

            
                <td><a href="/admin/energotechnology/energotechnologyall/" class="changelink">Изменить</a></td>
            
            </tr>
        
            <tr class="model-energotechnologyosveshenie">
            
                <th scope="row"><a href="/admin/energotechnology/energotechnologyosveshenie/">Освещение</a></th>
            

            
                <td><a href="/admin/energotechnology/energotechnologyosveshenie/add/" class="addlink">Добавить</a></td>
            

            
                <td><a href="/admin/energotechnology/energotechnologyosveshenie/" class="changelink">Изменить</a></td>
            
            </tr>
        
            <tr class="model-energotechnologyotoplenie">
            
                <th scope="row"><a href="/admin/energotechnology/energotechnologyotoplenie/">Отопление</a></th>
            

            
                <td><a href="/admin/energotechnology/energotechnologyotoplenie/add/" class="addlink">Добавить</a></td>
            

            
                <td><a href="/admin/energotechnology/energotechnologyotoplenie/" class="changelink">Изменить</a></td>
            
            </tr>
        
            <tr class="model-energotechnologysun">
            
                <th scope="row"><a href="/admin/energotechnology/energotechnologysun/">Солнце</a></th>
            

            
                <td><a href="/admin/energotechnology/energotechnologysun/add/" class="addlink">Добавить</a></td>
            

            
                <td><a href="/admin/energotechnology/energotechnologysun/" class="changelink">Изменить</a></td>
            
            </tr>
        
        </table>
        </div>


         <div class="app-content module">
        <table>

        <caption>
            <h4>Статическии страницы</h4>
        </caption>

            <tr class="model-faq">

                <th scope="row"><a href="/admin/staticpages/faq/">FAQ</a></th>



                <td><a href="/admin/staticpages/faq/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/staticpages/faq/" class="changelink">Изменить</a></td>

            </tr>



            <tr class="model-maintext">

                <th scope="row"><a href="/admin/staticpages/maintext/">Информация на главной странице</a></th>



                <td><a href="/admin/staticpages/maintext/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/staticpages/maintext/" class="changelink">Изменить</a></td>

            </tr>

            <tr class="model-infotext">

                <th scope="row"><a href="/admin/staticpages/infotext/">Информация на на странице информации</a></th>



                <td><a href="/admin/staticpages/infotext/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/staticpages/infotext/" class="changelink">Изменить</a></td>

            </tr>

            <tr class="model-contact">

                <th scope="row"><a href="/admin/staticpages/contact/">Контакты</a></th>



                <td><a href="/admin/staticpages/contact/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/staticpages/contact/" class="changelink">Изменить</a></td>

            </tr>

            <tr>


                <div class="app-energotechnology module">
        <table>


           <tr class="model-energotechnologyall">
                <th scope="row"><a href="/admin/energotechnology/energotechnologyall/"> Энерготехнологии </a></th>



                <td><a href="/admin/energotechnology/energotechnologyall/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/energotechnology/energotechnologyall/" class="changelink">Изменить</a></td>

            </tr>



            <tr class="model-energotechnologywater">

                <th scope="row" ><a href="/admin/energotechnology/energotechnologywater/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вода</a></th>



                <td><a href="/admin/energotechnology/energotechnologywater/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/energotechnology/energotechnologywater/" class="changelink">Изменить</a></td>

            </tr>

            </body>


            <tr class="model-energotechnologyeast">

                <th scope="row"><a href="/admin/energotechnology/energotechnologyeast/"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Земля</a></th>



                <td><a href="/admin/energotechnology/energotechnologyeast/add/" class="addlink">Добавить</a></td>
                <td><a href="/admin/energotechnology/energotechnologyeast/add/" class="deletelink">Удалить</a></td>


                <td><a href="/admin/energotechnology/energotechnologyeast/" class="changelink">Изменить</a></td>

            </tr>


            <tr class="model-energotechnologyosveshenie">

                <th scope="row"><a href="/admin/energotechnology/energotechnologyosveshenie/"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Освещение</a></th>



                <td><a href="/admin/energotechnology/energotechnologyosveshenie/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/energotechnology/energotechnologyosveshenie/" class="changelink">Изменить</a></td>

            </tr>

            <tr class="model-energotechnologyotoplenie">

                <th scope="row"><a href="/admin/energotechnology/energotechnologyotoplenie/"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Отопление</a></th>



                <td><a href="/admin/energotechnology/energotechnologyotoplenie/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/energotechnology/energotechnologyotoplenie/" class="changelink">Изменить</a></td>

            </tr>

            <tr class="model-energotechnologysun">

                <th scope="row"><a href="/admin/energotechnology/energotechnologysun/"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Солнце</a></th>



                <td><a href="/admin/energotechnology/energotechnologysun/add/" class="addlink">Добавить</a></td>



                <td><a href="/admin/energotechnology/energotechnologysun/" class="changelink">Изменить</a></td>

            </tr>

        </table>
        </div>


            </tr>





        </table>
    </div>