{% extends "base.html" %}

{% block content%}

            <h1>Отзывы</h1>
      <h5>Добавить отзыв</h5>

      <form class="contact-form" action="/testimonials/" method="post">
          {% csrf_token %}
        <input type="hidden" name="add" value="1">
        <fieldset>

          <fieldset class="left">
            <label for="id_name">Имя:</label> <input id="id_name" maxlength="100" name="name" type="text" required />
		  </fieldset>

          <fieldset class="right">
            <label for="id_email">Email:</label> <input id="id_email" maxlength="254" name="email" type="email" />
          </fieldset>


          <fieldset class="left">
            <label for="id_rating"><b>Рейтинг:</b></label><br>
            <input type="radio" name="rating" id="r1" value="1"><label for="r1">отвратительно</label><br>
            <input type="radio" name="rating" id="r2" value="2"><label for="r2">плохо</label><br>
            <input type="radio" name="rating" id="r3" value="3"><label for="r3">нормально</label><br>
            <input type="radio" name="rating" id="r4" value="4"><label for="r4">хорошо</label><br>
            <input type="radio" name="rating" id="r5" value="5"><label for="r5">отлично</label><br>
		  </fieldset>

          <fieldset class="left">
          <label for="id_comment">Отзыв:</label> <textarea cols="40" id="id_comment" name="comment" rows="10" required>
</textarea>
          </fieldset>

          <fieldset class="btn_wrapper">
            <input type="submit" id="btn_send" value="отправить" title="отправить">
          </fieldset>

        </fieldset>



      </form>


    {%for testimonial in testimonials%}
      <blockquote>

         <cite>{{testimonial.name}}</cite>
          <var class="date">{{testimonial.dateCreate}}</var>
          {% if testimonial.rating == 1 %}  <dfn class="rating r1">отвратительно<span></span></dfn>  {%endif %}
          {% if testimonial.rating == 2 %}  <dfn class="rating r2">плохо<span></span></dfn>  {%endif %}
          {% if testimonial.rating == 3 %}  <dfn class="rating r3">нормально<span></span></dfn>  {%endif %}
          {% if testimonial.rating == 4 %}  <dfn class="rating r4">хорошо<span></span></dfn>  {%endif %}
          {% if testimonial.rating == 5 %}  <dfn class="rating r5">отлично<span></span></dfn>  {%endif %}

          <q>{{testimonial.comment}}</q>
      </blockquote>

    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if testimonials.has_previous %}
            <a href="?page={{ testimonials.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ testimonials.number }} of {{ testimonials.paginator.num_pages }}.
        </span>

        {% if testimonials.has_next %}
            <a href="?page={{ testimonials.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>



{% endblock %}