<!doctype html>



<head>
   <meta name="language" content="ru">


  <link rel="stylesheet" href="/static/css/main.css" media="screen,projection">
  <link rel="stylesheet" href="/static/css//print.css" media="print">
  <title>Энерго форум</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script type="text/javascript" src="/static/js/jquery.js.Без названия"></script>
  <script type="text/javascript" src="/static/js//js.js.Без названия"></script>


</head>



<body>



<script language="JavaScript" type="text/javascript">
 /*<![CDATA[*/
// ----------------------------------------------
// PRAjax - JavaScript code
//
// Maarten Balliauw
// ----------------------------------------------

var oId = 1;
var showStatusMessage = false;
var statusMessages = new Array("", "");
var showStatusId = "";
var iOpenCallCount = 0;

function prajax_xmlobj(uri, post_data, callbackFunction) {
  var req;
  if (window.XMLHttpRequest) {
    req = new XMLHttpRequest();
  } else if (window.ActiveXObject) {
    req = new ActiveXObject("Msxml2.XMLHTTP");
    if (req == null) {
        req = new ActiveXObject("Microsoft.XMLHTTP");
    }
  }

  if (req != null) {
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
              if (req.status == 200) {
          prajax_receivedata(callbackFunction, req.responseText);
          prajax_busy(0);
        } else if(req.status == 12002){
          prajax_busy(2);

              alert("Server is busy at the moment, your request will be submitted in 5 seconds.");
              pause(5000);
              prajax_request(uri, post_data, callbackFunction);
                } else {
          prajax_busy(2);

              alert("Server is busy at the moment, your request will be submitted in 5 seconds.");
            pause(5000);
              prajax_request(uri, post_data, callbackFunction);

//              setTimeout(function() {prajax_request(uri, post_data, callbackFunction)}, time1);
                }
        req.onreadystatechange = function() {};
        req = null;
      }
    };
  }
  return req;
}

function prajax_request(uri, post_data, callbackFunction) {
  req = prajax_xmlobj(uri, post_data, callbackFunction);
  if (req != null) {
    prajax_busy(1);      req.open("POST", uri, true);
      req.setRequestHeader("Method", "POST " + uri + " HTTP/1.1");
      req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      req.send(post_data);
      delete req;
      iOpenCallCount++;
  } else {
      prajax_busy(2);
      alert("[PRAjax] Could not create XML request object");
  }
}

function prajax_call(func_name, args) {
  var uri;
  var post_data;

  uri = "/main.php?ajaxparam=/info.html";
  post_data = "rs=" + escape(func_name);
  for (i = 0; i < args.length-1; i++) {
    post_data = post_data + "&rsargs[]=<value>" + escape(prajax_Value(args[i])) + "</value>";
  }

  prajax_request(uri, post_data, args[args.length-1]);
}

function prajax_object_call(object, func_name, args) {
  var uri;
  var post_data;

  uri = "/main.php?ajaxparam=/info.html";
  post_data = "rs=" + escape(func_name);
  for (i = 0; i < args.length-1; i++) {
    post_data = post_data + "&rsargs[]=<value>" + escape(prajax_Value(args[i])) + "</value>";
  }
  post_data = post_data + "&rsobj=" + escape(prajax_Value(object));

  prajax_request(uri, post_data, args[args.length-1]);
}

function prajax_receivedata(func_name, data) {
  iOpenCallCount--;
  if (data.indexOf("[PRAjax]") != -1) {
      prajax_busy(2);
      alert(data);
  } else {
      if (func_name == null) {
          if (data != null) {
              eval(stripslashes(data));
          }
      } else if (typeof(func_name) == "function") {
          func_name(stripslashes(data));
      }
  }
}

function prajax_Value(pValue) {
    if (pValue == "") {
        return "<value></value>";
    }

    if (typeof(pValue) == "object") {
        if (pValue.constructor.toString().indexOf("Array") != -1) {
            return prajax_Array(pValue);
        } else if (typeof(pValue) == "object") {
            return prajax_Object(pValue);
        }
    } else {
        return "<value><![CDATA[" + addslashes(pValue) + "]]></value>";
    }
}

function prajax_Object(pValue) {
    if (pValue == null) {
        return "<value>NULL</value>";
    }

    var aObject = new Array();
    for (oProperty in pValue) {
        aObject.push("<" + oProperty + ">" + prajax_Value(eval("pValue." + oProperty)) + "</" + oProperty + ">");
    }
    return "<prajax_object_" + pValue.prajaxclass + "><class>" + pValue.prajaxclass + "</class>" + aObject.join("") + "</prajax_object_" + pValue.prajaxclass + ">";
}

function prajax_Array(pValue) {
    var aReturn = new Array();

    // Loop trough array
    for (oValue in pValue) {
      aReturn.push(prajax_Value(pValue[oValue]));
    }

    var strReturn = "";
    for (var i = 0; i < aReturn.length; i++) {
        strReturn += "<element id=\"" + prajax_OID() + "\">" + aReturn[i] + "</element>";
    }
    return "<prajax_array>" + strReturn + "</prajax_array>";
}

function prajax_OID() {
  return oId++;
}

function prajax_change_property(pElementId, pProperty, pValue) {
  eval("document.getElementById('" + pElementId + "')." + pProperty + " = " + pValue);
}

function prajax_busy(pStatus) {
  if (iOpenCallCount > 0) {
      pStatus = 1;
  }
  if (showStatusMessage) {
    document.getElementById(showStatusId).innerHTML = statusMessages[pStatus];
  }
}

function addslashes(pString) {
  pString = pString + "";
  pString = pString.replace(/\\/g,"\\\\");
  pString = pString.replace(/\'/g,"\\'");
  pString = pString.replace(/\"/g,"\\\"");
  return pString;
}

function stripslashes(pString) {
  pString = pString + "";
  return pString.replace(/(\\)([\\\'\"])/g,"$2");
}

// Wrapper function a_addtocart
function a_addtocart () {
 prajax_call("a_addtocart", a_addtocart.arguments);
}


// Wrapper function a_addtocompare
function a_addtocompare () {
 prajax_call("a_addtocompare", a_addtocompare.arguments);
}


// Wrapper function a_get_cart
function a_get_cart () {
 prajax_call("a_get_cart", a_get_cart.arguments);
}


/*]]>*/
</script>



<script language="JavaScript" type="text/javascript">
  /*<![CDATA[*/
var demoWin;
function DoWin(namehtm,wwin,hwin) {
  if ((demoWin != null) && (!demoWin.closed)){demoWin.close()}
  eval("demoWin=window.open('"+namehtm+"', 'demonstrationWin', 'width="+wwin+",height="+hwin+",location=0,top=0')");
  demoWin.focus();
}

  function addtocompare(id){
  a_addtocompare(id, addtocompare_cb);
  }
  function addtocompare_cb(data){
  eval("data1="+data);
    document.getElementById("divaddtocart").innerHTML = data1;
    document.getElementById('divaddtocart').style.visibility = 'visible';
    setTimeout(function(){document.getElementById('divaddtocart').style.visibility = 'hidden'}, 2500);
    document.getElementById("compare_a").style.visibility="visible";
  }

  function addtocart(id){
  a_addtocart(id, addtocart_cb);
  }
  function addtocart_cb(data){
  eval("data1="+data);
    document.getElementById("divaddtocart").innerHTML = data1;
    document.getElementById('divaddtocart').style.visibility = 'visible';
    setTimeout(function(){document.getElementById('divaddtocart').style.visibility = 'hidden'}, 2500);
  a_get_cart(getcart_cb);
  }
  function getcart_cb(data){
  eval("data1="+data);
    document.getElementById("carttext").innerHTML = data1;
  }
  /*]]>*/
</script>

{% load staticfiles %}


<div id="wrapper">
  <div id="logo"><dfn>Энерго</dfn>Форум <a href="/">(на главную)</a></div>

    <div id="content">

           {% block content%} {% endblock %}



    <div id="sidebar">
      <div class="news">
        <ul id="sidenav">
          <li>
            <a href="/energotechnology/">Энерготехнологии</a>
                       </li>
          <li><a href="/info/">Информация</a></li>

          <li>
          	<a href="/catalog/">Магазин</a>
          	          </li>
          <li><a href="/faq/">FAQ</a></li>
          <li><a href="/contact/">Контакты</a></li>
        </ul>

{% load content_tags %}
          {% tags_news %}


      </div>
      <div id="adv2">
        <img src="{% static "/img/userfiles/ill-06.jpg" %}" alt="баннер 250 х 130">
      </div>




 {%if  "skipopros" in request.path %}

        <div class="vote">
        <h2>У вас есть дома стабилизатор?</h2>

      <div class="message"></div>
    <table>
            <tbody>


         {% for answer in answer_list %}

                 <tr>
               <th colspan="3">{{answer}}</th>
                </tr>
                <tr>
                     <td class="procent">{{answer.persent}}  %</td>
                     <td><img src="{% static "/img/ill_Line.gif" %}" width={{answer.persent}} height="8"></td>
                     <td class="total">{{answer.valueAnswer}}</td>
               </tr>

         {%endfor%}


            <tr>
        <td class="procent vote" colspan="2">Проголосовало:</td>
        <td class="total vote">{{usersAnswers}}</td>
      </tr>
    </tbody></table>

     </div>
   {%  else %}


    {% tags_question %}

   {% endif%}

{%tags_testimonials%}


    </div>
  </div>




{% if "energotechnology" in  request.path  %}  <div id="header" class="n_energo">  {%endif %}
{% if "info" in  request.path  %}  <div id="header" class="n_info">  {%endif %}
{% if "catalog" in  request.path  %}  <div id="header" class="n_shop">  {%endif %}
{% if "faq" in  request.path  %}  <div id="header" class="n_faq">  {%endif %}
{% if "contact" in  request.path  %}  <div id="header" class="n_contact">  {%endif %}
                    {% ifequal request.path "/" %}  <div id="header" class="n_info">   {%endifequal %}
{% if "testimonials" in  request.path  %}  <div id="header" class="n_info">  {%endif %}
{% if "/news/" in  request.path  %}  <div id="header" class="n_energo">  {%endif %}
{% if "/skipopros/" in  request.path  %}  <div id="header" class="n_energo">  {%endif %}
{% if "dashboard" in  request.path  %}  <div id="header" class="n_info">  {%endif %}


<div id="divaddtocart"></div>

    <ul id="nav">


      <li id="n_energo" {% if "energotechnology" in  request.path  %}  class="sel"    {%endif %} >
        <a href="/energotechnology/">Энерготехнологии</a>
        <ul>
          <li ><a href="/energotechnology/sun/">Солнце</a></li>
          <li ><a href="/energotechnology/water/">Вода</a></li>
          <li ><a href="/energotechnology/east/">Земля</a></li>
          <li ><a href="/energotechnology/osveshenie/">Освещение</a></li>
          <li ><a href="/energotechnology/otoplenie/">Отопление</a></li>
        </ul>
      </li>



      <li id="n_info" {% if "info" in  request.path  %}  class="sel"   {%endif %}><a href="/info/">Информация</a></li>

      <li id="n_shop" {% if "catalog" in  request.path  %}  class="sel" {%endif %}>
      	<a href="/catalog/">Магазин</a>
      </li>

      <li id="n_faq" {% if "faq" in  request.path  %}  class="sel" {%endif %}><a href="/faq/">FAQ</a></li>


      <li id="n_contact" {% if "contact" in  request.path  %}  class="sel" {%endif %}><a href="/contact/">Контакты</a></li>
    </ul>




    <span class="tel">(057) 750-75-86</span>
    <ul class="mini_nav">
      <li class="cart"><a href="/shoppingcart/" title="Корзина">Корзина</a></li>
      <li class="site-map"><a href="/map/" title="Карта Сайта">Карта Сайта</a></li>
      <li class="contact"><a href="/contact/" title="Контакты">Контакты</a></li>
    </ul>
    <div class="search">
      <div id="adv3">
        <img src="{% static "/img/userfiles/ill-07.jpg" %}" alt="баннер">
      </div>
      <form class="search-form" action="http://energoforum/search.html" method="get">
        <fieldset>
          <input type="text" id="srch" name="search">
          <input type="submit" id="btn_srch" value="поиск" title="поиск">
        </fieldset>
      </form>    </div>






    <div class="cart-block">
      <h2>Ваша корзина</h2>
      <span id="carttext">
      <dl>
        <dt>Товаров:</dt>
          <dd>0</dd>
        <dt>На сумму:</dt>
          <dd>0 грн.</dd>
      </dl>
      </span>
      <a href="http://energoforum/shoppingcart.html" class="btn_offer">оформить заказ <span></span></a>
    </div>

  </div>






  <div id="footer">
    <hr>
    <ul id="subnav">
      <li><a href="/energotechnology/">Энерготехнологии</a></li>
      <li><a href="/info/">Информация</a></li>
      <li><a href="/catalog/">Магазин</a></li>
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/contact/">Контакты</a></li>
    </ul>
    <address class="author vcard">
      <a class="fn n org url work" rel="me" href="http://energoforum.com/">Energoforum.com</a>. © 2009. Все права защищены.
    </address>
    <div class="partners">
      <h2>Партнеры</h2>
      <ul>
        <li class="texinfo"><a href="http://energoforum/info.html">texinfo.ru<span></span></a></li>
        <li class="techhome"><a href="http://energoforum/info.html">techhome<span></span></a></li>
        <li class="somecompany"><a href="http://energoforum/info.html">some company<span></span></a></li>
      </ul>
    </div>
  </div>
  <div id="bottom">
  </div>
<!--
  <div class="podbor">
  	<a href="/podbor.html"><span></span></a>
  </div>

  <div class="discount">
  	<a href="/discount.html"><span></span></a>
  </div>
 -->
</div>

<div id="LG_overlay" style="background: rgb(0, 0, 0); display: none; opacity: 0.0085;"></div><div id="LG_container"><div id="LG_loading"></div><div id="LG_innerCont"><div id="LG_panel"><div id="LG_zoomIn" title="Zoom In"></div><div id="LG_zoomOut" title="Zoom Out"></div><div id="LG_zoomNormal" title="Full Size"></div><div id="LG_imgIndex">Image 20 of 20 </div><div id="LG_closeBtn" title="Close"></div><div style="clear:both"></div></div><img id="LG_pic" width="300" height="300"><div id="LG_titleBar"></div><div id="LG_prevLink" title="Previous"></div><div id="LG_nextLink" title="Next"></div></div></div></body></html>

</body>
</html>